// VARIABLES
@import "partials/variables";

// FONT
@import "partials/font";

// NAVIGATION
@import "partials/navigation";

// LAYOUT
@import "partials/layout";

// TABLES
@import "partials/tables";

// FORMS
@import "partials/forms";

// SLIDE PANEL
@import "partials/sidepanel";


