.table_container {
  
}

table, th, td, tbody, thead {
  border-collapse: collapse;
}

table {
  width: 100%;
  font-weight: 700;
  background-color: $bkg_light !important;
  &.blue {
    border: 1px solid $blue;
    color: $blue_dull;
  }
  &.orange {
    border: 1px solid $orange;
    color: $orange_dull;     
  }
}

thead {

}

tr {
  &.blue {
    color: $blue_dull;
  }
  &.orange {
    color: $orange_dull; 
  }
}

th { 
  padding: 10px 0px;
  &.blue {
    background: $blue_dull;
    color: $white;
  }
  &.orange {
    background: $orange_dull;
    color: $white;  
  }
  &.subheading {
    &.blue {
    background: $blue;
    color: $white;
    }
    &.orange {
    background: $orange;
    color: $white;
    }
  }
}

tbody {
  &.blue {
    color: $blue_dull;
  }
  &.orange {
    color: $orange_dull; 
  }
}

td {
  padding: 10px 0px;
}
