
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


// BASIC FORMATTING
body {
	font-family: 'Rambla', sans-serif;
	background-color: $bkg_dark;
	margin: 0px;
	text-align: 10px;
}

h1 {
	color: $bkg_color;
	font-size: 3em;
	padding: 10px;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
}

i.margin_right {
	margin-right: 10px;
}


@media screen and (max-width: 640px) {
	i.margin_right {
		margin-right: 0px;
	}
}

i.margin_left {
	margin-left: 10px;
}
// Navigation

.full_bar {
	width: 100%;
	background-color: $main_color;
}


.card {
	border-radius: $border-radius;
	margin-bottom: 15px;
	padding: 10px;
}

.plain {
	background: $bkg_light;
	color: $bkg_dark;
}

img {
	max-width: 60%;
}

img.screen {
	max-width: 100%;
}
img.badge {
	max-height: 50px;
}

// DIV CONTAINERS

img.ri {
	max-width: 30%;
}


img.banner {
	max-width: 100%;
}

.footer_bar {
	text-align: center;
	background-color: $main_color;
	padding: 5px;
	p {
		color: $bkg_color;
		font-size: 12px;
	}
}

// MID SCREENs

@media screen and (max-width: 968px) {
	h1 {
		color: $bkg_color;
		font-size: 2em;
		padding: 0px;
		margin: 0px;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1em;
	}
	.nav li a {
		font-size: 1em;
	}
	p {
		font-size: 1.2em;
	}
	.sidebar p {
		font-size: 0.9em;
	}
	a {
		// font-size: 0.5em;
	}
}


// MOBILE SCREENs

@media screen and (max-width: 640px) {
	h1 {
		color: $bkg_color;
		font-size: 2em;
		padding: 0px;
		margin: 0px;
	}
	p {
		font-size: 1em;
	}
	.content {
		height: auto;
	}

	.location {
		height: auto;
	}
}

