//Colors
$bkg_color: #F4F5F5;
$bkg_dark: #BDBCBC;

// Theme Color
$main_color: #35C1D6;
$main_color_accent: #B6E2EB;
$main_color_dark: #0297A7;

// Accents
$main_color_opp: #F68E1E;
$main_color_accent_opp: #FCB64D;
$main_color_dark_opp: #F37C20;


$green_clr: #9BCB65;
$dark_green_clr: #679F41;
$light_green_clr: #C5E0A5;

// Other button colours
$twitter_blue: #00aced;
$twitter_blue_accent: #29c4ff;
$twitter_blue_dark: #0081b2;

$google_red: #dd4b39;
$google_red_accent: #e05a4a;
$google_red_dark: #892417;

$github_black: #0e1717;
$github_black_accent: #77adad;
$github_black_dark: #426c6c;

// transition times
$transition: all 0.1s;
