/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}


.timepicker {
	padding: 4px;
}

span.badge.cancel {
    font-weight: 300;
    padding: 4px;
    font-size: 0.8rem;
    color: #fff;
    background-color: ;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}