server {
    listen 80  default_server;
	listen [::]:80;

	root /var/www/arranmorefastferry.com/public_html;
	index index.html index.htm index.php;

	# Make site accessible from http://localhost/
	server_name arranmorefastferry.com www.arranmorefastferry.com;

	location / {
		try_files $uri $uri/ =404;
	}

        location /start {
                try_files $uri.html $uri/ =404;
        }

	location /nginx_trial {
		try_files $uri.html $uri/ =404;
	}

	location /sub_page {
		root /var/www/arranmorefastferry.com/public_html/testing_sub;
		try_files $uri.html $uri.html $uri/ =404;
	}

        location /charades {
                try_files index.html $uri.html $uri/ =404;
        }

	# error_page 404 = /404.html;

        error_page 404 /404.html;
        location = /404.html {
                root /var/www/arranmorefastferry.com/public_html;
                internal;
        }

	# redirect server error pages to the static page /50x.html
	#
	error_page 500 502 503 504 /50x.html;
	location = /50x.html {
		root /usr/share/nginx/www;
	}

}