server {
    listen 80  default_server;
	listen [::]:80;

	root /var/www/arranmorefastferry.com/public_html;
	index index.html index.htm index.php;

	# Make site accessible from http://localhost/
	server_name 178.62.3.21;

	location / {
		try_files $uri $uri/ =404;
		include /etc/nginx/mime.types;
	}

	location /about-us {
		try_files $uri.html $uri/ =404;
	}
	location /timetables {
		try_files $uri.html $uri/ =404;
	}
	location /tickets {
		try_files $uri.html $uri/ =404;
	}
	location /contact {
		try_files $uri.html $uri/ =404;
	}
	location /competition {
		try_files $uri.html $uri/ =404;
	}

	location /tickets-booked {
		root /var/www/arranmorefastferry.com/public_html/tickets;
		try_files $uri.html $uri.html $uri/ =404;
	}

	# error_page 404 = /404.html;

    error_page 404 /404.html;

    location = /404.html {
	    root /var/www/arranmorefastferry.com/public_html;
	    internal;
    }

	# redirect server error pages to the static page /50x.html
	#
	error_page 500 502 503 504 /50x.html;
	location = /50x.html {
		root /usr/share/nginx/www;
	}

}


TESTING

server {
        listen 80;
        server_name hexa.design;

        root /var/www/hexa.design/public_html;
        index index.html index.htm index.php;

        # ROOT LOCATION
        location / {
                try_files $uri $uri/ =404;
        }

        # PAGES
        location /about_us {
                try_files $uri.html $uri/ =404;
        }
        location /timetables {
                try_files $uri.html $uri/ =404;
        }
        location /tickets {
                try_files $uri.html $uri/ =404;
        }
        location /contact {
                try_files $uri.html $uri/ =404;
        }

        # ERRORS
        error_page 404		/404.html;
        location = /404.html {
                root /var/www/hexa.design/public_html;
                internal;
        }
        
		error_page 500 502 503 504 /50x.html;
		location = /50x.html {
			root /usr/share/nginx/www;
		}
	}
}	